body {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 15pt;
    font-family: "Roboto";
    margin: 0px;
}
#h1 {
    font-family: "Roobert";
    margin: 8px;
}
sn {
    animation: colorfade 2.5s infinite alternate linear;
    background-color: #6441A5;
    padding: 2px;
    border-radius: 2px;
}
hr {
    opacity: 0;
}
header {
    margin: 0px;
    height: 65px;
    position: sticky;
    top: 0px;
    position: -webkit-sticky;
    background-color: #772CE8;
    border-bottom: 2px solid #6441A5;
}
footer {
    margin: 0px;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    background-color: #FFFFFF;
    border-top: 2px solid #DDDDDD;
}
#container {
    font-family: "Roobert";
    width: 95%;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    border: 2px solid #000000;
    border-radius: 25px;
    margin: 8px;
}
#container div {
    width: 46%;
    height: 150px;
    display: block;
    font-family: "Fredoka";
    background-color: #DDDDDD;
    padding-bottom: 10px;
    color: #000000;
    border-radius: 20px;
    margin: 2%
}
#container hr {
    opacity: 0;
    padding: 10px;
}
#container-2 {
    font-family: "Fredoka";
    text-align: left;
    background-color: #B9A3E3;
    border-radius: 20px;
    margin: 8px;
}
#container-2 p {
    padding: 2px;
}
#container-2 span {
    font-weight: 1000;
}
#container-3 {
    font-family: "Fredoka";
    background-color: #DDDDDD;
    text-align: left;
    margin-bottom: 0px;
}
#container-3 h3, p {
    margin: 2%;
}
#container-3 hr {
    opacity: 0;
}
#container-3 img {
    width: 100%;
    display: block;
    margin: auto;
}
#viewers img{
    height: 15pt;
}
#thumbnail {
    position: relative;
    width: 100%;
}
#viewers {
    background-color: #FF4444DD;
    top: 8px;
    right: 16px;
    position: absolute;
    font-family: "Fredoka";
    color: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
}
#timedisplay {
    background-color: #000000DD;
    bottom: 8px;
    left: 16px;
    position: absolute;
    font-family: "Fredoka";
    color: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
}
#livelabel {
    background-color: #FF4444DD;
    bottom: 8px;
    right: 16px;
    position: absolute;
    font-family: "Roobert";
    color: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
}
#views {
    float: left;
}
#totalviews {
    float: right;
}
#time {
    float: left;
}
#revenue {
    float: right;
}
#messages {
    float: left;
}
#followers {
    float: right;
}
#subs {
    float: left;
}
#subrevenue {
    float: right;
}
#left {
    height: 50px;
    float: left;
}
#right {
    height: 45px;
    float: right;
}
#header img {
    margin: 8px;
}
#info {
    padding: 2.5px;
}
#ko-fi {
    width: 95%;
    margin: auto;
    display: block;
}
#funfacts {
    margin: 8px;
    text-align: center;
}
#secrettext {
    animation: colorfade 2.5s infinite alternate linear;
}
@font-face {
    font-family: "Roobert";
    src: url(fonts/Roobert-Regular.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Fredoka";
    src: url(fonts/fredoka.ttf);
}
@keyframes colorfade {
    0% {
        color: rgb(255, 0, 170);
        text-shadow: 0px 2px 10px rgb(255, 99, 195);
    }
    33% {
        color: rgb(94, 123, 253);
        text-shadow: 0px 2px 10px rgb(94, 150, 253);
    }
    66% {
        color: rgb(26, 204, 136);
        text-shadow: 0px 2px 10px rgb(72, 184, 141);
    }
    100% {
        color: rgb(255, 104, 34);
        text-shadow: 0px 2px 10px rgb(255, 133, 95);
    }
}